.advancedFilters[show="1"] {
  transition: 1s;
  height: 5vh;
  position: absolute;
  background-color: red;
  z-index: 99999999;
  width: 100vw;
}

.advancedFilters[show="0"] {
  transition: 1s;
  height: 0vh;
  position: absolute;
  background-color: red;
  z-index: 99999999;
  width: 100vw;
}
